#dog-detail-title {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 0;
  color: white;
}

.info-col {
  padding-top: 10px;
}

#detail-image {
  max-height: 250px;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

#main-dog-card {
  margin-top: 75px;
}

#dog-name {
  color: #85c872;
  margin-left: 100px;
  flex-wrap: wrap;
}

.card-header {
  display: inline;
  text-align: center;
  flex-wrap: nowrap;
}

#to-kennel {
  float: right;
  position: relative;
  color: #85c872;
  text-decoration: none;
}

#to-kennel:hover {
  color: white;
  text-decoration: none;
  transform: scale(1.05);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

#add-exercise-btn {
  color: #85c872;
  /* float: inherit; */
  margin-top: 20px;
}

#add-exercise-btn:hover {
  color: white;
  text-decoration: none;
  transform: scale(1.05);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.form-container {
  margin-top: 40px;
  margin-bottom: 15px;
}

div.exercise-form {
  padding-left: 0px;
  padding-right: 0px;
}

#exercise-submit-btn {
  position: relative;
  color: white;
  background-color: #285a84;
  border-color: inherit;
  text-decoration: none;
  display: inline;
  margin: 2px;
}

#exercise-submit-btn:disabled:hover {
  color: white;
  background-color: #285a84;
  text-decoration: none;
}

#exercise-submit-btn:hover {
  color: white;
  background-color: #28a745;
  text-decoration: none;
}

#cancel-btn {
  display: inline;
  margin: 2px;
}

.attributes {
  vertical-align: middle;
}

.no-border {
  align-items: center;
}
