.row {
  margin-bottom: 1em;
}

.HomePageImg {
  background-image: url("../../images/DoghouseImage.jpg");
  background-size: auto;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: calc(100vh - 48px);
  padding-bottom: 80px;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
}

#welcome-h1 {
  color: #285a84;
  font-size: 4vw;
}

.card-container {
  margin-top: 8em;
}

h1 {
  text-align: center;
  color: white;
}

#mapRow {
  justify-content: center;
}

/* .card {
  margin-bottom: 15px;
  text-align: center;
} */
