.main {
  background-color: #9ebfdb;
}

div.row {
  /* margin-bottom: 1em; */
  margin-left: 0px;
  margin-right: 0px;
}

div.main-homepage {
  background-color: #9ebfdb;
  height: calc(100% - 48px);
  margin-left: 400px !important;
}

#main-kennel-row {
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
}

.new-dog-form {
  height: 100%;
}

#kennel-col {
  background-color: #9ebfdb;
}

#greeting-col {
  padding-top: 15px;
  padding-bottom: 10px;
  margin-right: 50%;
  margin-left: 50%;
  border-bottom: solid medium white;
  border-bottom-left-radius: inherit;
  display: inline-block;
}

#greeting {
  color: white;
  text-align: center;
  margin-bottom: 0px;
  font-family: "Raleway", sans-serif;
}

#plus-btn-col {
  margin-bottom: -80px;
}

#title-row {
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 20px;
}

.fa-plus {
  color: white;
  vertical-align: middle;
  margin-left: 1px;
  margin-top: 2px;
}

.icon-background {
  color: green;
}

#add-dog-icon {
  transform: translate(68%, -25%);
  float: right;
  position: relative;
  z-index: 2;
  border-radius: 50%;
  background-color: green;
}

#add-dog-icon:hover {
  transform: scale(1.05) translate(68%, -25%);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.card-container {
  margin-top: 8em;
}
