.row {
  margin-bottom: 1em;
}

.HomePageImg {
  background-image: url("../../images/DoghouseImage.jpg");
  background-size: auto;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-bottom: 80px;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
}

#kennel-container {
  background-color: #285a84;
  padding-left: 20px;
  padding-right: 20px;
  /* max-width: 70vw; */
}

#greeting-col {
  padding-top: 10px;
  padding-bottom: 15px;
  margin-right: 10px;
  margin-left: 10px;
}

#greeting {
  color: white;
  text-align: center;
  font-size: 4vw;
  margin-bottom: 0px;
}

#btn-row {
  margin-bottom: 20px;
  padding-bottom: 15px;
}

#add-dog-btn {
  color: #85c872;
}

#add-dog-btn:hover {
  color: white;
  transform: scale(1.05);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.card-container {
  margin-top: 8em;
}

#mapRow {
  justify-content: center;
}
