.main {
  background-image: url("./images/DogByCacti.jpg");
  height: 100vh;
  background-size: center;
  background-position: center;
  background-attachment: fixed;
}

.home {
  background-image: url("./images/DoghouseImage.jpg");
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}