.AboutPageImg {
  position: relative;
  
  background-image: url("../../images/DogWithBall.jpg");
  width: 100vw;
  background-size: center;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
}

.card {
  background-color: #285a84 !important;
}

.card-deck {
  padding-bottom: 6em;
}
