img {
  cursor: pointer;
}

.card-img-top {
  object-fit: fill;
  width: 100%;
  height: 15rem;
}

.card-deck {
  justify-content: center;
}

.dogName {
  color: white;
}

#dog-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

#empty-kennel {
  color: white;
}