.row {
  margin-bottom: 1em;
}

.HomePageImg {
  background-image: url("../../images/DoghouseImage.jpg");
  background-size: center;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-bottom: 20px;
}

.card-container {
  margin-top: 8em;
}

h1 {
  text-align: center;
  color: white;
}

.card-img-top {
  width: 100%;
  height: 13vw;
  object-fit: cover;
}

#mapRow {
  justify-content: center;
}

/* .card {
  margin-bottom: 15px;
  text-align: center;
} */

.card-deck {
  justify-content: center;
}

.dogName {
  color: white;
}

.cardLink:hover{
  color: #85c872;
}
