.row {
    margin-bottom: 1em;
}

.HomePage{
    padding: 1em;
    background-image: url("../../images/DoghouseImage.jpg");
  height: 100vh;
  background-size: center;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.card-container{
    margin-top: 10em;
}