.FormPageImg {
  position: relative;
  width: 100%;
  background-image: url("../../images/DoghouseImage.jpg");
  width: 100vw;
  background-size: center;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-bottom: 20px;
}

.form-container {
  /* padding-left: 0px !important;
  padding-right: 0px !important; */
  
  background-color: #285a84;
}

label.form-label {
  color: white;
}

.new-dog-form {
  /* background-color: #285a84; */
  border: none;
}

#form-title {
  text-align: center;
  margin-top: 15px;
  margin-bottom: -20px;
  color: white;
}

#image.custom-file-input {
  z-index: 9;
  cursor: pointer;
}

.form-btn {
  margin-top: 16px;
}

#submit {
  float: center;
}

#cancel-add-dog {
  margin-left: 10px;
}

#formRow {
  justify-content: center;
}
