.FormPage {
  position: relative;
  width: 100%;
  padding: 1em;
  background-image: url("../../images/DoghouseImage.jpg");
  width: 100vw;
  background-size: center;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.form {
  margin: 8em;
}

.form-container {
  background-color: white;
  margin: 6em;
}

h4 {
  text-align: center;
}
