.FormPageImg {
  position: relative;
  width: 100%;
  background-image: url("../../images/DoghouseImage.jpg");
  width: 100vw;
  background-size: center;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 130vh;
}

.form {
  margin-left: 6em;
  margin-right: 6em;
  margin-bottom: 20em;
 
}

.form-container {
  margin-left: 6em;
  margin-right: 6em;
  background-color: white;
}

h3 {
  text-align: center;
}

