.FormPageImg {
  position: relative;
  width: 100%;
  background-image: url("../../images/DoghouseImage.jpg");
  width: 100vw;
  background-size: center;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-bottom: 20px;
}

.form {
  margin-left: 6em;
  margin-right: 6em;
  margin-bottom: 20em;
}

.form-container {
  background-color: white;
  margin-left: 6em;
  margin-right: 6em;
}

h1 {
  text-align: center;
  padding-bottom: 15px;
}

#submit {
  float: center;
}

#formRow {
  justify-content: center;
}
