.loginPageImg {
  background-image: url("../../images/DogWithBall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-height: calc(100vh - 48px);
}

.logo {
  margin: 2em;
}

:root {
  --amplify-primary-color: #285a84;
  --amplify-primary-tint: #3475ab;
  --amplify-primary-shade: #9ebfdb;
}
