.loginPageImg {
  background-image: url("../../images/DogWithBall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 48px);
  min-width: 100vw;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(132, 82, 40, 0.3);
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
}

#login-row {
  padding-bottom: 20px;
}

@media screen and (min-width: 1500px) {
  #login-container {
    margin-left: 25%;
    margin-right: 0;
  }
}

.login-col {
  margin-top: 10%;
  justify-content: center;
  align-items: center;
  width: max-content;
}

#login-page-h1 {
  font-family: "Assistant", sans-serif;
  color: white;
  margin-top: 20px;
}

#login-btn {
  margin: 20px 0px 0px 15px;
  /* background-color: #285a84; */
}

#learn-more-btn {
  margin: 20px 15px 0px 0px;
  /* background-color: #285a84; */
}

div.card-body.login-card-body {
  padding-top: 0%;
}

@media screen and (max-width: 671px) {
  div.login-col {
    /* margin: auto; */
    padding: 0%;
  }

  div.login-card-body {
    padding-top: 0;
    padding-bottom: 10px;
  }
}
