.sidebar {
  width: 400px;
  height: 100%;
  position: fixed;
  overflow: auto;
  margin: 0;
  padding: 0px 10px;
  background-color: #9ebfdb;
  border-right: medium solid white !important;
}

label.form-label {
  color: white;
}

.form-container {
  padding-left: 0px !important;
  padding-right: 0px !important;
  background-color: #9ebfdb;
}

.new-dog-form {
  background-color: #9ebfdb;
  border: none;
}

.form-group-inline {
  background-color: #9ebfdb;
}

#form-title-col {
  padding-top: 10px;
  padding-bottom: 25px;
  margin-right: 25%;
  margin-left: 25%;
  border-bottom: solid medium white;
  border-bottom-left-radius: inherit;
  display: inline-block;
}

#form-title {
  text-align: center;
  font-family: "Raleway", sans-serif;
  margin-top: 20px;
  margin-bottom: -20px;
  color: white;
}

#image.custom-file-input {
  z-index: 9;
  cursor: pointer;
}

.form-btn {
  margin-top: 16px;
}

#submit {
  float: center;
}

#cancel-add-dog {
  margin-left: 10px;
}

#formRow {
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: 100vh;
    position: relative;
    border-right: none !important;
  }
}
