.sidebar {
  width: 400px;
  height: 100%;
  position: fixed;
  overflow: auto;
  margin: 0;
  padding: 0px 10px;
  background-color: #9ebfdb;
  border-right: medium solid white  !important;
}

label.form-label {
  color: white;
}

.form-container {
  padding-left: 0px !important;
  padding-right: 0px !important;

  background-color: #9ebfdb;
}

.new-dog-form {
  background-color: #9ebfdb;
  border: none;
}

.form-group-inline {
  background-color: #9ebfdb;
}

#form-title {
  text-align: center;
  font-family: "Raleway", sans-serif;
  margin-top: 20px;
  margin-bottom: -20px;
  color: white;
  text-decoration: underline;
  text-underline-offset: .5em;
  
}

#image.custom-file-input {
  z-index: 9;
  cursor: pointer;
}

.form-btn {
  margin-top: 16px;
}

#submit {
  float: center;
}

#cancel-add-dog {
  margin-left: 10px;
}

#formRow {
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
}
