* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: #9EBFDB;
  border-bottom: medium solid white;
}

#status {
  color: white;
  font-size: 25px;
  padding-right: 20px;
  margin-top: 14px;
  padding-top: 0px;
}

.link-name {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 25px;
  padding-right: 20px;
  margin-top: 14px;
}
