* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  
}

.main {
  background-image: url("./DogByCacti.jpg");
  height: 100vh;
  background-size: center;
  background-position: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  min-height: 8vh;
  position: absolute;
}

.linkText {
    color: white;
    font-size: 25px;
}